<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>artsy, cocoapods/cocoapods, danger/danger</string>
		<key>Key</key>
		<string>repos</string>
		<key>Title</key>
		<string>Comma Separated Repo or Orgs to Auto-Delete Branches on</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>whitelist</string>
		<key>Title</key>
		<string>Comma Separated Branch Whitelist</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>delete_all</string>
		<key>Title</key>
		<string>Delete every branch (respects whitelist)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
